*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 40px;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.15;
    color: #303133;
    background-color: #fff;
}
body .el-table th.gutter,body .el-table td.gutter{
display: table-cell!important;
}
a {
    color: mix(#fff, $--color-primary, 20%);
    text-decoration: none;
    &:focus,
    &:hover {
        color: $--color-primary;
        text-decoration: underline;
    }
}

img {
    vertical-align: middle;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}


/* Utils
------------------------------ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.inb{display: inline-block;vertical-align: top;}
.full-dialog{
    .el-dialog{width: 90%;}
}
.user-hover {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        color: $--color-primary;
    }
}


/* Animation
------------------------------ */

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}


/* Reset element-ui
------------------------------ */

.site-wrapper {
    .el-pagination {
        margin-top: 15px;
        text-align: right;
    }
}
.el-popover{    max-height: 100%;
    overflow: auto;
}
.el-table--medium td, .el-table--medium th{padding: 5px 0;}
.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{padding: 0 5px;}
.el-form-item{margin-bottom: 16px;}
.el-form-item__error{line-height: 16px;padding: 0;}
/* Layout
------------------------------ */

.site-wrapper {
    position: relative;
}
.el-menu--popup-bottom-start{min-width: 110px;text-align: center;}
 .mod-menu__icon-list{    max-height: initial !important;}
/* Sidebar fold
------------------------------ */

.site-sidebar--fold {
    .site-navbar__header,
    .site-navbar__brand,
    .site-sidebar,
    .site-sidebar__inner,
    .el-menu.site-sidebar__menu {
        width: 64px;
    }
    .site-navbar__body,
    .site-content__wrapper {
        margin-left: 64px;
    }
    .site-navbar__brand {
        &-lg {
            display: none;
        }
        &-mini {
            display: inline-block;
        }
    }
    .site-sidebar,
    .site-sidebar__inner {
        overflow: initial;
    }
    .site-sidebar__menu-icon {
        margin-right: 0;
        font-size: 20px;
    }
    .site-content--tabs>.el-tabs>.el-tabs__header {
        left: 64px;
    }
}

// animation
.site-navbar__header,
.site-navbar__brand,
.site-navbar__body,
.site-sidebar,
.site-sidebar__inner,
.site-sidebar__menu.el-menu,
.site-sidebar__menu-icon,
.site-content__wrapper,
.site-content--tabs>.el-tabs .el-tabs__header {
    transition: inline-block .3s, left .3s, width .3s, margin-left .3s, font-size .3s;
}


/* Navbar
------------------------------ */

.site-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    // height: 64px;
    background-color: $navbar--background-color;
    &--inverse {
        .site-navbar__body {
            background-color: transparent;
        }
        .el-menu {
            >.el-menu-item,
            >.el-submenu>.el-submenu__title {
                color: #fff;
                &:focus,
                &:hover {
                    color: #fff;
                    background-color: mix(#000, $navbar--background-color, 15%);
                }
            }
            >.el-menu-item.is-active,
            >.el-submenu.is-active>.el-submenu__title {
                border-bottom-color: mix(#fff, $navbar--background-color, 85%);
            }
            .el-menu-item i,
            .el-submenu__title i,
            .el-dropdown {
                color: #fff;
            }
        }
        .el-menu--popup-bottom-start {
            background-color: $navbar--background-color;
        }
    }
    &__header {
        position: relative;
        float: left;
        width: 230px;
        height: 50px;
        overflow: hidden;
    }
    &__brand {
        display: table-cell;
        vertical-align: middle;
        width: 230px;
        height: 50px;
        margin: 0;
        line-height: 50px;
        font-size: 20px;
        text-align: center;
        white-space: nowrap;
        color: #fff;
        &-lg,
        &-mini {
            margin: 0 5px;
            color: #fff;
            &:focus,
            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
        &-mini {
            display: none;
        }
    }
    &__switch {
        font-size: 18px;
        border-bottom: none !important;
    }
    &__avatar {
        border-bottom: none !important;
        * {
            vertical-align: inherit;
        }
        .el-dropdown-link {
            >img {
                width: 36px;
                height: auto;
                margin-right: 5px;
                border-radius: 100%;
                vertical-align: middle;
            }
        }
    }
    &__body {
        position: relative;
        margin-left: 230px;
        padding-right: 15px;
        background-color: #fff;
    }
    &__menu {
        float: left;
        background-color: transparent;
        border-bottom: 0;
        &--right {
            float: right;
        }
        a:focus,
        a:hover {
            text-decoration: none;
        }
        .el-menu-item,
        .el-submenu>.el-submenu__title {
            height: 50px;
            line-height: 50px;
        }
        .el-submenu>.el-menu {
            top: 55px;
        }
        .el-badge {
            display: inline;
            z-index: 2;
            &__content {
                line-height: 16px;
            }
        }
    }
}


/* Sidebar
------------------------------ */

.site-sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    z-index: 1020;
    width: 230px;
    overflow: hidden;
    &--dark,
    &--dark-popper {
        background-color: $sidebar--background-color-dark;
        .site-sidebar__menu.el-menu,
        >.el-menu--popup {
            background-color: $sidebar--background-color-dark;
            .el-menu-item,
            .el-submenu>.el-submenu__title {
                color: $sidebar--color-text-dark;
                &:focus,
                &:hover {
                    color: mix(#fff, $sidebar--color-text-dark, 50%);
                    background-color: mix(#fff, $sidebar--background-color-dark, 2.5%);
                }
            }
            .el-menu,
            .el-submenu.is-opened {
                background-color: mix(#000, $sidebar--background-color-dark, 15%);
            }
            .el-menu-item.is-active,
            .el-submenu.is-active>.el-submenu__title {
                color: mix(#fff, $sidebar--color-text-dark, 80%);
            }
        }
    }
    &__inner {
        position: relative;
        z-index: 1;
        width: 250px;
        height: 100%;
        padding-bottom: 15px;
        overflow-y: scroll;
    }
    &__menu.el-menu {
        width: 230px;
        border-right: 0;
    }
    &__menu-icon {
        width: 24px;
        margin-right: 5px;
        text-align: center;
        font-size: 16px;
        color: inherit !important;
    }
}


/* Content
------------------------------ */

.site-content {
    position: relative;
    padding: 15px;
    &__wrapper {
        position: relative;
        padding-top: 50px;
        margin-left: 230px;
        min-height: 100%;
        background: $content--background-color;
    }
    &--tabs {
        padding: 55px 0 0;
    }
    >.el-tabs {
        >.el-tabs__header {
            position: fixed;
            top: 50px;
            left: 230px;
            right: 0;
            z-index: 930;
            padding: 0 55px 0 15px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
            background-color: #fff;
            >.el-tabs__nav-wrap {
                margin-bottom: 0;
                &:after {
                    display: none;
                }
            }
        }
        >.el-tabs__content {
            padding: 0 15px 15px;
            >.site-tabs__tools {
                position: fixed;
                top: 50px;
                right: 0;
                z-index: 931;
                height: 40px;
                padding: 0 12px;
                font-size: 16px;
                line-height: 40px;
                background-color: $content--background-color;
                cursor: pointer;
                .el-icon--right {
                    margin-left: 0;
                }
            }
        }
    }
}


/* tab
------------------------------ */

.mod-config .tabs {
    margin-bottom: 35px;
    border-bottom: 1px solid #17b3a3;
    font-size: 0;
    .tab-pane {
        display: inline-block;
        min-width: 120px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        padding: 0 10px;
        background-color: #effbfa;
        color: #666;
        font-size: 14px;
        text-align: center;
        box-sizing: content-box;
        cursor: pointer;
        &.active {
            position: relative;
            bottom: -1px;
            border: 1px solid #17b3a3;
            border-bottom: none;
            background-color: #fff;
            color: #17b3a3;
        }
    }
}

$color1: #1B82D1;
$color2: #F0F0F0;
$color3: #FC9B00;
$width1: .32rem;
$height1: .2rem;
$size1: .34rem;
$size2: .28rem;
@mixin clear {
    &::after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

@mixin float($dir) {
    position: relative;
    >* {
        float: $dir;
    }
    &::after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    @include clear;
}

@mixin inline-block($dir) {
    position: relative;
    font-size: 0;
    >* {
        display: inline-block;
        vertical-align: $dir;
        font-size: $size1;
    }
}









.el-card {
    padding: 10px;
}





.company-tree{
    padding: 16px 70px 0 0;
    position: relative;font-size: 12px;
    .expand{   
    text-align: right;
    margin-bottom: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -2px;}
    .el-tree-node__label{font-size: 12px;}
    .el-tree-node__expand-icon{position: relative;top: -1px;}
    .el-popper[x-placement^=top] .popper__arrow{position: relative;}
}
.company-tree1{
    padding: 5px;border: 1px solid #ccc;overflow: auto;min-width: 200px;
    .expand{position: relative;top: 0;right: 0;padding: 10px 5px;margin: 0;}
}
.manager-wrap{display: flex;
 .el-table{flex: 1;}
 .company-tree{margin-right: 10px;}
}

.label-search{line-height: 36px;color: #606266;white-space: nowrap;}
.el-message-box__message{word-break: break-all;}
.el-date-editor .el-range-separator{padding: 0;}
.review-dialog .el-dialog__footer{text-align: center;}
.material-store-add{
    .el-select{width: 100%;}
}
.order-dialog{
    .el-dialog{min-width: 788px;}
}


.el-tabs__item:focus.is-active.is-focus:not(:active) {
    box-shadow: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    }